.form_admin_custom div {
  padding-left: 10px;
  max-width: 500px;
  width: auto;
  position: relative; }
.form_admin_custom ul {
  margin-left: 10px;
  width: auto; }
  .form_admin_custom ul label {
    display: block; }
  .form_admin_custom ul input, .form_admin_custom ul textarea {
    width: 100%;
    height: 40px;
    margin-left: 10px;
    color: #5fc3ea; }
  .form_admin_custom ul textarea {
    height: 200px; }
.form_admin_custom .button {
  width: 100px;}
